<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      For a guide and recipes on how to configure / customize this project,<br />
      check out the
      <a href="https://gitlab.com/TecHoof/v-draggable" target="_blank" rel="noopener">v-draggable git</a>.
    </p>
    <h3>Draggs list</h3>
    <div class="compare-dragg">
      <v-list-draggable v-model="list1" class="drag1">
        <div class="item" v-for="(item, i) in list1" :key="i" :data-key="i"><b>{{ item.name }}</b></div>
      </v-list-draggable>
      <v-list-draggable v-model="list2" class="drag2">
        <div class="item" v-for="(item, i) in list2" :key="i" :data-key="i">{{ item.name }}</div>
      </v-list-draggable>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      list1: [
        { name: "Max" },
        { name: "Jon" }
      ],
      list2: [
        { name: "Anton" },
        { name: "Vasya" }
      ]
    };
  },

  created() {
    setTimeout(() => {
      this.list1.push({ name: 'Surprise' });
    }, 3000);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.compare-dragg {
  display: flex;
  max-width: 580px;
  margin: auto;
}

.drag1,
.drag2 {
  margin: 20px;
  min-width: 240px;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.07);
}

.item {
  padding: 15px 20px;
  width: 200px;
  background-color: #ccebdd;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.07);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: 0.15s all;
}

.ghost {
  cursor: pointer;

  transform: rotate(-8deg);
}
</style>
